<mat-toolbar id="header">
  <div class="header">
    <div class="logo" routerLink="/">
      <img src="../assets/Images/Pokemon_logo.svg" alt="logo" />
    </div>
    <div class="title" routerLink="/">JamLand</div>
    <div class="title" routerLink="/favorites">Favorites</div>
    <div *ngIf="(isLoggedIn$ | async) === false" class="login-button">
      <button mat-raised-button (click)="goToLogin()">Login</button>
    </div>
    <div *ngIf="isLoggedIn$ | async" class="logout-button">
      <button mat-raised-button color="accent" (click)="logout()">
        Logout
      </button>
    </div>
    <div *ngIf="isLoggedIn$ | async" class="logout-button">
      <button mat-raised-button color="accent" (click)="goToProfil()">
        Profil
      </button>
    </div>
  </div>
</mat-toolbar>
