#header{
  background-color: rgba(95, 2, 31, 0.5);
  color: white;
  display: flex;
  box-sizing: border-box;
  padding: 0 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: center;
}
.header {
  display: flex;
 
  .placeholder {
    flex-grow: 2;
  }
  .title {
    cursor: pointer;
  }
}
