#footer {
  background-color: rgba(95, 2, 31, 0.5);
}
.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: solid;
  border-width: 2px;
  bottom:0;  /* on le colle en bas */
  width:100%;
 
  .logo1 {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo3 {
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo4 {
    grid-area: 1 / 4 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .placeholder {
    flex-grow: 2;
  }
  .footerLogo {
    display: flex;
  }

  #version {
    font-size: 0.5rem;
  }
}
