<mat-toolbar id="footer">
  <div class="footer">
    <!-- <div class="placeholder">&nbsp;</div> -->
    <div class="logo1" routerLink="/">
      <img src="../assets/Images/home.svg" alt="logo" />
    </div>
    <div class="logo2" routerLink="/">
      <img src="../assets/Images/carte.svg" alt="logo" />
    </div>
    <div class="logo3" routerLink="/pokedex">
      <img src="../assets/Images/pokedex.svg" alt="logo" />
    </div>
    <div class="logo4" routerLink="/">
      <img src="../assets/Images/compte.svg" alt="logo" />
    </div>
  </div>
</mat-toolbar>
