.home-page{
  padding-top: 5%;
}

.home-div {
  display: flex;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  .buttonDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    button {
      border: solid;
      border-width: 2px;
      margin: 5px;
      border-radius: 25px;
      background-color: brown;
      font-size: large;
      height: 35px;
    }
  }
}

.div-poke-img{
  max-width: 100px;
}

.first-line-poke{
  display: flex;
  justify-content: center;
}

.second-line-poke{
  display: flex;
  justify-content: space-evenly;
}

.poke-img{
  width: 100%;
}