<div class="home-page">
  <div>
    <div class="first-line-poke">
      <div class="div-poke-img">
        <img src="../assets/Images/home/jungko.png" alt="Jungko" class="poke-img">
      </div>
    </div>
    <div class="second-line-poke">
      <div class="div-poke-img">
        <img src="../assets/Images/home/ectoplasma.png" alt="Ectoplasma" class="poke-img">
      </div>
      <div class="div-poke-img">
        <img src="../assets/Images/home/simiabraz.png" alt="Simiabraz" class="poke-img">
      </div>
    </div>
    <div class="home-div">
      <div class="buttonDiv">
        <button mat-raised-button color="accent" color="primary" (click)="goToLogin()">
          Login</button>
        <button mat-raised-button color="accent" color="primary" (click)="goToRegister()">
          Register</button>
      </div>
    </div>
    <div class="second-line-poke">
      <div class="div-poke-img">
        <img src="../assets/Images/home/lucario.png" alt="Lucario" class="poke-img">
      </div>
      <div class="div-poke-img">
        <img src="../assets/Images/home/zekrom.png" alt="Zekrom" class="poke-img">
      </div>
    </div>
    <div class="first-line-poke">
      <div class="div-poke-img">
        <img src="../assets/Images/home/salameche.png" alt="Salamèche" class="poke-img">
      </div>
    </div>
  </div>

</div>
