.hunt-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  mat-card {
    background: none;
    border-radius: 20px;
    border: solid;
    border-color: black;
    border-width: 2px;
  }
  .pokeball-button {
    display: flex;
    justify-content: center;
    button {
    border: solid;
    border-width: 2px;
    margin: 5px;
    }
    button:enabled {
      background-color: yellow;
    }
  }
  .sq-2 {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    height: 120px;
    min-height: 120px;
    max-height: 120px;
    background-color: white;
  }
}
